html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: #000;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  }
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
@media laptop {
  body { 
    display: grid;
    grid-auto-columns: 5%;
    grid-auto-rows: 1rem;
    justify-items: start;
    align-items: start;
  }
}
.Hidden {
  display: none;
  opacity: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  height: 4rem;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}
button:hover {
  background: #000;
  color: #fff;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}
.Op50 {
  opacity: .5;
}
.Op30 {
  opacity: .3;
}
.AlignRight {
  text-align: right;
}
.AlignCenter {
  text-align: center;
}

// Intro

.Intro {
  padding: 2rem;
  grid-row: 5 / 67;
}
.OffsetEmoji {
  position: relative;
  top: 2px;
}
.ImgContainer {
  background: #000;
  padding: 6rem;
}
.IntroImg {
  width: 100%;
}
@media laptop {
    .IntroImg {
    display: none;
  }
}
@media laptop {
  .IntroImgContainer {
    grid-column: 11 / span 20;
    background: url("_img/intro_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
  }
}

// Recent Projects

@media laptop {
  .LeftBlockHalfWidth {
    grid-column: 2 / 9;
  }
  .RightBlockHalfWidth {
    grid-column: 11 / 20;
  }
  .LeftBlockTwoThirds {
    grid-column: 2 / 14;
  }
  .RightBlockOneThird {
    grid-column: 16 / 19;
  }
  .LeftBlockOneThird {
    grid-column: 2 / 5;
  }
  .RightBlockTwoThirds {
    grid-column: 7 / 20;
  }
}
.HeadingSmall.RightBlockHalfWidth {
  margin: 6rem 2rem;
}
@media laptop {
  .HeadingSmall.RightBlockHalfWidth {
    margin: 0;
    grid-row: 82;
  }
}
.DescProject {
  margin: 4rem 2rem 6rem 2rem;
}
.ImgProject1 {
  grid-row: 96;
}
@media laptop {
  .DescProject1 {
    grid-row: 114;
    margin: 0;
  }
}
@media laptop {
  width: 30%;
  display: flex;
}
.ImgContainerProject2 {
  padding: 4rem;
  background: #000;
  grid-row: 160;
  display: inline-flex;
}
.Project2Img {
  margin: 2rem;
  justify-content: space-between
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: auto;
  // width: 30%;
  background: #000;
}
.Project2Img1 {
  // background: url("_img/casey1.jpg");
}
.Project2Img2 {
  // background: url("_img/casey2.jpg");
}
.Project2Img3 {
  // background: url("_img/casey3.jpg");
}
@media laptop {
  .DescProject2 {
    grid-row: 176;
    margin: 0;
  }
}
.ImgProject3 {
  grid-row: 223;
}
@media laptop { 
  .DescProject3 {
    grid-row: 239;
    margin: 0;
  }
}

// Footer

.Divider {
  height: 4px;
  background: #FFE3E2;
  margin: 0 2rem
}
@media laptop {
  .Divider {
    width: 80rem;
    grid-row: 287;
    grid-column: 2;
    margin: 0 0 7rem 0;
  }
}
.OffCenter {
  margin: 2rem;
}
@media laptop {
  .OffCenter {
    grid-column: 5 / 11;
    grid-row: 295;
    line-height: 200%;
  }
}
.FooterHeading {
  margin: 8rem 2rem 4rem 2rem;
}
@media laptop {
  .FooterHeading {
    grid-row: 290;
    grid-column: 2 / 5;
  }
}
.Contact {
  margin: 6rem 2rem;
}
@media laptop {
  .Contact {
    grid-row: 297;
    margin: 0;
  }
}
.FooterSpace {
  height: 2rem;
  grid-row: 325;
}
.SmallEmoji {
  font-size: 1rem;
}

















