html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background: #ffe3e2;
}
.hidden {
  display: none;
  opacity: 0;
}
img {
  max-width: 100%;
  height: auto;
}
#Welcome {
  color: #ff3431;
  position: relative;
  display: flex;
}
.HeadingLarge {
  width: 100%;
}
.HeadingLargeLogo {
  width: 100%;
}
.Greeting {
  margin: 5rem 0;
  line-height: 175%;
}
button {
  background: transparent;
  border: 1px solid #ff3431;
  border-radius: 75px;
  color: #ff3431;
  height: 4rem;
  font-size: 1rem;
  letter-spacing: .1em;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: typeface-secondary;
}
button:hover {
  background: #ff3431
  color: #ffe3e2;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

// Galleries

// footer

