@font-face {
    font-family: 'SofiaProMedium';
    src: url('_fonts/SofiaProMedium.eot');
    src: url('_fonts/SofiaProMedium.eot') format('embedded-opentype'),
         url('_fonts/SofiaProMedium.woff2') format('woff2'),
         url('_fonts/SofiaProMedium.woff') format('woff'),
         url('_fonts/SofiaProMedium.ttf') format('truetype'),
         url('_fonts/SofiaProMedium.svg#SofiaProMedium') format('svg');
}

@font-face {
    font-family: 'SofiaProSemiBold';
    src: url('_fonts/SofiaProSemiBold.eot');
    src: url('_fonts/SofiaProSemiBold.eot') format('embedded-opentype'),
         url('_fonts/SofiaProSemiBold.woff2') format('woff2'),
         url('_fonts/SofiaProSemiBold.woff') format('woff'),
         url('_fonts/SofiaProSemiBold.ttf') format('truetype'),
         url('_fonts/SofiaProSemiBold.svg#SofiaProSemiBold') format('svg');
}
