@font-face {
	font-family: 'Calluna';
	src: url('_fonts/Calluna-Light.eot');
	src: url('_fonts/Calluna-Light.eot?#iefix') format('embedded-opentype'),
		url('_fonts/Calluna-Light.woff2') format('woff2'),
		url('_fonts/Calluna-Light.woff') format('woff'),
		url('_fonts/Calluna-Light.ttf') format('truetype'),
		url('_fonts/Calluna-Light.svg#Calluna-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FoundersGroteskMono';
	src: url('_fonts/FoundersGroteskMono-Light.eot');
	src: url('_fonts/FoundersGroteskMono-Light.eot?#iefix') format('embedded-opentype'),
		url('_fonts/FoundersGroteskMono-Light.woff2') format('woff2'),
		url('_fonts/FoundersGroteskMono-Light.woff') format('woff'),
		url('_fonts/FoundersGroteskMono-Light.ttf') format('truetype'),
		url('_fonts/FoundersGroteskMono-Light.svg#FoundersGroteskMono-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}