
.Divider {
  height: 4px;
  background: #FFE3E2;
  margin: 0 2rem
}
@media phone {
  .Divider {
    margin: 0 5rem;
  }
}
@media desktop {
  .Divider {
    width: 78rem;
    grid-row: 318;
    grid-column: 2;
    margin: 0 0 7rem 0;
  }
}
@media bigscreen {
  .Divider {
    width: 104rem;
    grid-row: 373;
    margin: 0 0 7rem 0;
  }
}
.OffCenter {
  margin: 2rem;
}
@media phone {
  .OffCenter {
    margin: 2rem 5rem;
  }
}
@media desktop {
  .OffCenter {
    grid-column: 6 / 15;
    grid-row: 322;
    line-height: 200%;
  }
}
@media bigscreen {
  .OffCenter {
    grid-column: 5 / 11;
    grid-row: 381;
    line-height: 200%;
  }
}
.FooterHeading {
  margin: 8rem 2rem 4rem 2rem;
}
@media phone {
  .FooterHeading {
    margin: 8rem 2rem 4rem 5rem;
  }
}
@media desktop {
  .FooterHeading {
    grid-row: 325;
    grid-column: 2 / 5;
    margin: 0;
  }
}
@media bigscreen {
  .FooterHeading {
    grid-row: 384;
    grid-column: 2 / 5;
    margin: 0;
  }
}
.Contact {
  margin: 6rem 2rem;
}
@media phone {
  .Contact {
    margin: 6rem 5rem;
  }
}
@media desktop {
  .Contact {
    grid-row: 324;
    margin: 0;
  }
}
@media bigscreen {
  .Contact {
    grid-row: 383;
    margin: 0;
  }
}

// pads the bottom of the footer

.FooterSpace {
  height: 2rem;
  grid-row: 352;
}
@media bigscreen{
  .FooterSpace {
    height: 2rem;
    grid-row: 415;
  }
}
.SmallEmoji {
  font-size: 1rem;
}