html {
	font-size: 10px;
	font-family: typeface-primary, serif;
}
@media laptop {
	html {
		font-size: 11px;
		color: --color-black
	}
}
.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
p {
	line-height: 150%;
	text-align: left;
	cursor: default;
	font-size: 1.3rem;
}
a, a:focus, a:visited, a:active {
	text-decoration: none;
  color: #FE6D6A;
}
strong {
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0 0;
	padding: 0 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 125%;
	position: relative;
	z-index: 9999;
	cursor: default;
}
.HeadingSmall {
	font-size: 1rem;
	color: #ff3431;
	margin: 0 0 3rem 0;
	font-family: typeface-secondary;
	letter-spacing: .1rem;
	text-transform: uppercase;
}
.RedText {
	color: #ff3431;
}
.BoldText {
	font-weight: bold;
}
.FontSize13 {
	font-size: 1.3rem;
}
.Italic {
	font-style: italic;
}