html {
	font-size: 10px;
	font-family: 'Calluna', serif;
}
@media laptop {
	html {
		font-size: 11px;
		color: black
	}
}
.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
p {
	line-height: 150%;
	text-align: left;
	cursor: default;
	font-size: 1.7rem;
	font-family: 'Calluna', serif;
}
a, a:focus, a:visited, a:active {
	font-family: 'FoundersGroteskMono', monospace;
	text-decoration: none;
  border-bottom: 3px solid #FFE3E2;
  color: black;
}
strong {
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0 0;
	padding: 0 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 125%;
	position: relative;
	z-index: 9999;
	cursor: default;
}
.HeadingSmall {
	font-size: 1.7rem;
	margin: 0 0 3rem 0;
	font-family: 'Calluna', serif;
	letter-spacing: .1rem;
}
.HeadingLarge {
	width: 100%;
}
.RedText {
	color: #ff3431;
}
.BoldText {
	font-weight: bold;
}
.ItalicText {
	font-style: italic;
}
.MonospaceText {
	font-family: 'FoundersGroteskMono', monospace;
}
.SmallText {
	font-size: 1.5rem;
}