
.AlignCenter {
	align-items: center
}

.AlignTop {
	align-items: flex-start
}

// Breakpoint show/hide

.ShowDesktop {
	display: none;
}
@media laptop {
	.ShowDesktop {
		display: inline;
	}
}
.ShowMobile {
	display: inline;
}
@media laptop {
	.ShowMobile {
		display: none;
	}
}
.hidden {
  display: none;
  opacity: 0;
}

// Opacity

.op50 {
	opacity: .5;
}
.op30 {
	opacity: .3;
}

//  Alignment

.AlignRight {
  text-align: right;
}
.Centered {
  margin: 0 auto;
}

// Transitions

@-webkit-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
.FadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
