// TYPE

text-color-body=			          black
typeface-primary=               'SofiaProMedium', Arial, sans-serif
typeface-secondary=             'SofiaProSemiBold', Arial, sans-serif

// BREAKPOINTS

phone =						"(min-width: 30em)" // 480px
tablet =					"(min-width: 48em)" // 768px
laptop =					"(min-width: 62em)"	// 992px
desktop =					"(min-width: 91em)" // 1456px
bigscreen =				"(min-width: 94em)" // 1500px

// COLORS

--color-red=    #FE6D6A
--color-pink=   #FFE3E2
--color-black=  hsla(1, 100%, 14%, 1)

// SPACING UNITS

unit0=    4px
unit1=    8px
unit2=    16px
unit3=    24px
unit4=    32px
unit5=    40px
unit6=    48px
unit7=    56px
unit8=    64px
unit9=    72px
unit10=   80px
unit11=   88px
unit12=   96px
unit13=   104px
unit14=   112px
unit15=   120px