// BREAKPOINTS

phone =						"(min-width: 30em)"
tablet =					"(min-width: 48em)"
laptop =					"(min-width: 64em)"
desktop =					"(min-width: 80em)"
bigscreen =			  "(min-width: 94em)"
xlscreen =        "(min-width: 105em)"
xxlscreen =       "(min-width: 120em)"
