/* fonts */


/* base */

html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background: transparent;
  border: 1px solid #ff3431;
  border-radius: 75px;
  color: #ff3431;
  height: 4rem;
  font-size: 1rem;
  letter-spacing: .1em;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: typeface-secondary;
}
button:hover {
  background: #ff3431
  color: #ffe3e2;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}
.op50 {
	opacity: .5;
}
.op30 {
	opacity: .3;
}
.AlignRight {
  text-align: right;
}
.AlignCenter {
  margin: 0 auto;
}

/* type */

html {
	font-size: 10px;
	font-family: typeface-primary, serif;
}
@media laptop {
	html {
		font-size: 11px;
		color: black
	}
}
.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
p {
	line-height: 150%;
	text-align: left;
	cursor: default;
	font-size: 1.3rem;
}
a, a:focus, a:visited, a:active {
	text-decoration: none;
  color: #FE6D6A;
}
strong {
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0 0;
	padding: 0 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 125%;
	position: relative;
	z-index: 9999;
	cursor: default;
}
.HeadingSmall {
	font-size: 1rem;
	color: #ff3431;
	margin: 0 0 3rem 0;
	font-family: typeface-secondary;
	letter-spacing: .1rem;
	text-transform: uppercase;
}
.HeadingLarge {
	width: 100%;
}
.RedText {
	color: #ff3431;
}
.BoldText {
	font-weight: bold;
}
.FontSize13 {
	font-size: 1.3rem;
}
.Italic {
	font-style: italic;
}
